@tailwind base;
@tailwind components;
@tailwind utilities;


html, body {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    scroll-behavior: smooth; 
}



@media(max-width: 1030px){
    #home{
        flex-direction: column-reverse;
        align-items: center;
        text-align: center;
        margin-top: 4.8rem;
    }
}

@media (max-width: 768px) {


    .ls{
        width: 90%;
    }
}