@tailwind base;
@tailwind components;
@tailwind utilities;

@media(max-width: 1030px){
    #home{
        flex-direction: column-reverse;
        align-items: center;
        text-align: center;
        margin-top: 4.8rem;
    }
}